#buttons{
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
}
body{
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
}
#ac{
    grid-column: 1/3;
}
#del{
    grid-column: 3/5;
}
button{
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    background-color: rgb(5, 82, 150);
    border: none;
    margin: 2px;
    color: white;
}
button:hover{
    color: black;
    background-color: antiquewhite;
}
#equal{
    grid-column: 3/5;
}
#answer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 3rem;
    word-wrap: break-word;
    word-break: break-all;
}
input[type='text']{
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    border: none;
    margin: 2px;
}
main{
    background-color:cornflowerblue;
}